<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title>Jovian careers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        #banner{
          width: 100%;
          height: 360px;
          object-fit: cover;
          margin-bottom: 16px;
        }
    </style>
</head>
<body>
  {% include 'nav.html' %}
  <img id="banner" class="img-fluid" src="../static/banner.jpg">
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Jovian careers</h1>
    <h2 class="text-center mt-2 mb-4">About Jovian</h2>
    <div class="row" style="margin-bottom: 16px;">
      <div class="col-md-6">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique commodo aliquet. Morbi molestie elit quis sapien efficitur facilisis. Duis nunc turpis, molestie in pulvinar eu, auctor a lorem. Phasellus egestas mi magna, sit amet posuere tellus blandit et. Cras sodales tempus lorem sit amet eleifend. Nullam rhoncus lorem a sagittis vestibulum. Suspendisse a ipsum a quam accumsan tristique. Aliquam erat volutpat.        
        </p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="../static/people.jpg" style="height: 320px; border-radius: 4px;">
      </div>
      
    </div>
    <h2 class="text-center mt-2 mb-4" >Job Openings</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}   
    </div>    
    <div class="text-center">      
      <a href="mailto:hello@jovian.com?subject=Question%20about%20Job%20Opening&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Cyour%20question%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>